*, *::before, *::after { box-sizing: border-box; }

html { font-family: 'Open Sans', sans-serif; }

body { margin: 0; }

img { max-width:100%; max-height:100%; }

.aside { padding-left: 1em; border-left: 1px solid; color: #999; }

#wrapper { padding: 1em; width: 70%; margin: 0 auto; max-width: 720px; }
@media only screen and (max-width: 600px) {
  #wrapper { width: 100%; }
}
